POSTGRES_DB=auction_demo
POSTGRES_USER=auction_app
POSTGRES_PASSWORD=change_me_in_local_env
POSTGRES_PORT=5432

RABBITMQ_DEFAULT_USER=auction
RABBITMQ_DEFAULT_PASS=change_me_in_local_env
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

REDIS_PORT=6379

BIDDING_API_URL=http://localhost:5000
LIVE_FEED_URL=http://localhost:3001

OUTBOX_PUBLISHER_POLL_INTERVAL_SECONDS=1
OUTBOX_PUBLISHER_BATCH_SIZE=20
OUTBOX_PUBLISHER_MAX_PUBLISH_ATTEMPTS=10
RABBITMQ_EXCHANGE=auction.events
RABBITMQ_DEBUG_QUEUE=auction.events.debug

